<div ng-include="'partials/menu.html'"></div>

<div class="container">

<h1>Create</h1>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{newCard.image}}">
         <div class="caption">
            <h3>{{newCard.title}}</h3>
            <p>{{newCard.description}}</p>        
         </div>
       </div>
  </div>

 <h3>Title</h3>
 <input ng-model="newCard.title">

 <h3>Description</h3>
 <input ng-model="newCard.description">

 <button ng-click="addNewCard()" class="btn-spacing">{{btnText}}</button>

</div>
